<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        fetch('/get_commits/')
          .then(response => response.json())
          .then(data => {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Commit Time');
            dataTable.addColumn('number', 'Minutes');

            data.commit_dates.forEach(function(date_string) {
              fetch(`/extract-minutes/${date_string}`)
                .then(response => response.json())
                .then(minutesData => {
                  dataTable.addRow([date_string, minutesData.minutes]);

                  var options = {
                    title: 'Commits Activity',
                    hAxis: { title: 'Commit Time' },
                    vAxis: { title: 'Minutes' },
                    legend: 'none'
                  };
                  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                  chart.draw(dataTable, options);
                });
            });
          });
      }
    </script>
  </body>
</html>
